    .cart-session{
        
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    overflow:hidden;
    }
    .cart-container{
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 8px;
        margin-left: 4px;
    }

.cart-item-wrapper{
    display: inline-block;
}
.cart-item {
    border-bottom: 1px solid #ccc;
    padding: 14px;
    width: 1160px;
}
.cart-item-content{
    display: inline-block;
}
.cart-input-day{
    width: 50px;

}
.btn-delete-cart{
    display: inline-block;
    border: 1px solid red;
    width: 70px;
    height: 30px;
    text-align: center;
    border-radius: 8px;
    color: #000;
    background-color:#fff;
}

.btn-delete-cart:hover{
    background-color: red;
    color: #fff;
}
.img-cart-item{
    width: 200px;
    height: 130px;
}
.cart-item-detail{
    float: right;
    padding: 0 20px;
}

.cart-edit{
    width: 150px;
}

.cart-total-item{
    display: inline-block;
    width: 140px;
    padding: 0 20px;
}
.cart-amount{
    float: right;
    /* height: unset; */
    padding: 14px 0;
    border: 1px solid #ccc;
    height: 400px;
    border-radius: 8px;
    margin-right: 4px;
    width:300px;
}
.cart-btn-grp{
    text-align: center;
    padding: 24px 0;
}

.cart-datapicker{
    padding: 24px 4px;
}

.cart-sum{
    padding: 24px 4px;
    font-size: 28px;
}

.cart-btn-booking{
    width: 80px;
    height: 40px;
    background-color: #fff;
    border: 1px solid green;
    border-radius: 8px;
    color: #000;
    /* padding-right: 12px; */
    margin-right: 12px;
}

.cart-btn-booking:hover{
    background-color: green;
    color: #fff;
    
}



.cart-btn-comeback {
    width: 80px;
    height: 40px;
    border: 1px solid #36608a;
    background-color: #fff;
    border-radius: 8px;
    color: #000;
    margin-left: 12px;
}

    .cart-btn-comeback:hover {
        background-color: #36608a;
        color: #fff;
    }

.shopping-cart-title{
    font-size: 38px;
    padding: 0 24px;
}

.cart-label-padding{
    padding:0 24px;
}

.empty-cart-item {
    font-size: 30px;
    width: 1160px;
    height: 300px;
    text-align: center;
    line-height: 300px;
}

    .empty-cart-item a {
        font-size: 30px;
        color: #36608a;
    }

        .empty-cart-item a:hover {
            color: blue;
        }

.frm-delete-item{
    display:inline-block;
}