<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bly Hotel</title>
	<link rel="icon" href="~/Assets/img/favicon.jpg" type="image/x-icon">
	<link rel="stylesheet" href="~/Assets/css/style.css">
	<link rel="stylesheet" href="~/Assets/font/fontawesome-free-6.2.0-web/css/all.css">
	<link rel="stylesheet" href="~/Assets/font/themify-icons-font/themify-icons/themify-icons.css">
	<link rel="stylesheet" href="~/Assets/css/account/login.css">
	<link href="~/Assets/css/account/register.css" rel="stylesheet" />
	<link rel="stylesheet" href="~/Assets/leaflet/leaflet.css">
	<link href="~/Assets/css/room/bootstrap.css" rel="stylesheet" />
	<link href="~/Assets/css/room/style.css" rel="stylesheet" />
	<script src="~/Assets/leaflet/leaflet.js"></script>
</head>
<body>
	<div id="main">
		<div id="header">
			<ul id="nav">
				<!-- Begin Nav  -->
				<li><a href="#">Home</a></li>
				<li><a href="#aboutus">About Us</a></li>
				<li><a href="#rooms">Rooms & Rates</a></li>
				<li><a href="/Shopping/Index">Service</a></li>
				<li>
					<a href="#contact">Contact</a>
					<!--<a href="">
		More
		<i class="nav-arrow-down ti-arrow-circle-down"></i>
	</a>
	<ul class="subnav">
		<li><a href="#reviews">Review</a></li>
		<li><a href="#contact">Contact</a></li>-->
					<!-- <li><a href="">Event</a></li> -->
					<!--</ul>-->
				</li>
			</ul>
			<!-- End Nav -->
			<!-- Begin Shopping Cart button -->
			<div class="shopping-cart-btn" alt="booking now">
				<i class="shopping-cart-icon ti-shopping-cart"></i>
			</div>
			<!-- End Shopping Cart button -->
			<!-- Begin User button -->
			<div class="users-btn" alt="login now">
				<i class="users-icon ti-user"></i>
				<!-- <ul class="subnav-icon">
				<li><a href="">Login</a></li>
				<li><a href="">Register</a></li>
			</ul> -->
			</div>
		</div>
		@RenderBody()
	<div id="footer">
		<div class="contact-section" id="contact">
			<div class="content-section">
				<div class="contact-content">
					<div id="mapObject"></div>
					<div class="contact-info">
						<h3>Contact Us</h3>
						<div class="socials-list">
							<a href=""><i class="ti-facebook"></i></a>
							<a href=""><i class="ti-instagram"></i></a>
							<a href=""><i class="ti-twitter"></i></a>
							<a href=""><i class="ti-linkedin"></i></a>
						</div>
						<p><i class="ti-location-pin"></i>Location: 96/11/7C, Lý Tự Trọng, An Cư, Ninh Kiều, TP Cần Thơ</p>
						<p><i class="ti-email"></i>Email: <a href="mailto:mail@mail.com">blyhotel@gmail.com</a> </p>
						<p><i class="fa-solid fa-phone"></i>Phone: <a href="tel: +00 151515">0919123456</a> </p>
					</div>
				</div>
			</div>
		</div>
		<p class="copyright">Copyright by Thanh Truc - 2022</p>
	</div>
	</div>
	<script src="~/Assets/js/main.js"></script>
</body>
</html>
