
#detail-content{
    margin-left: auto;
    margin-right: auto;
    padding:36px 36px;
}

#detail-content .detail-title{
    font-size: 36px;
    text-align: center;
    padding-bottom: 24px;
}

table{
    border-collapse: collapse;
}
th, td{
    border: 1px solid rgba(0, 0, 0, 0.3);
}
th {
    border-left: none;
    border-right: none;
    background-color: #b5cadf;
    width: 100px;
    height: 50px;
}
td{
    text-align: center;
}

#detail-content .img-detail-item {
    width: 250px;
    height: 200px;
}

#detail-content .detail-grp-btn{
    text-align: center;
    padding-top: 24px;
}
#detail-content .detail-btn-back, #detail-content .detail-btn-edit{
    background-color: #fff;
    border-radius:8px;
    display: inline-block;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

#detail-content .detail-btn-back {
    border: 1px solid #203952;
}

#detail-content .detail-btn-edit {
    border: 1px solid #d1c286;
}


    #detail-content .detail-btn-edit a, #detail-content .detail-btn-back a {
        color: #000;
        text-decoration: none;
    }

#detail-content .detail-btn-back:hover {
    color: #fff;
    background-color: #203952;
}

#detail-content .detail-btn-edit:hover {
    color: #fff;
    background-color: #d1c286;
}

#detail-content .detail-btn-edit:hover a, #detail-content .detail-btn-back:hover a{
    color: #fff;
}

/*detail ticket*/
.table-detail {
    width: inherit !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
}

.btn-back2reserve {
    display: inline-block;
    width: 100px;
    text-align: center;
    border: 2px solid #b5cadf;
    border-radius: 8px;
    margin-left: 66px;
    padding: 10px;
}

.btn-back2reserve a{
    color:#000;
    text-decoration:none;
}

    .btn-back2reserve:hover {
        background-color: #b5cadf;
    }

    .btn-back2reserve:hover a{
        color:#fff;
        text-decoration:none;
    }
